* {
    margin: 0;
    padding: 0;
      
}

body {
    background-color: #d0a5ec;
    text-align: center;
    box-sizing: border-box;
}

h1 { color: #d54d7b; 
    font-family: "Great Vibes", Verdana, sans-serif; cursive; 
    font-size: 50px; 
    line-height: 80px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 10px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; }

.pix{
    height: 280px;
    width: auto;
}

#gif {
    height: 300px;
    width: auto;
}

#check {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    margin-top: 10px;
}


.recipes {
    text-align: center;
    display: inline;
}

.btn {
    background-color: rgba(162, 108, 206, 0.548);
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    border-color: rgb(105, 85, 223);
    border-radius: 10px;

}

.btn a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.btn:hover{
    background-color: rgba(123, 41, 190, 0.753);
}